 <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet"> 
<h1 class = "initial"> Only the best </h1>
<section class="background">

</section>

<section class = "welcome-box">
	<div class = "textbox"> 
		<p id="text-welcome">
			Feel free to <a href="/teaStores"><span class="underline">checkout some teastores</a></span> or even <a href="http://localhost:9393/teaStores/new"><span class="underline">add a new one!</span></a>
		</p>
	</div>
</section> 