<section class = "welcome-box">
	<h1 class = "inital"> For Tea lovers everywhere </h1>
	<div class = "textbox"> 
		<p id="text-welcome">
			Feel free to <a href="/teaStores">checkout some teastores</a> or even <a href="http://localhost:9393/teaStores/new">add a new one!</a>
		</p>
	</div>
</section>