<!DOCTYPE html>
<html>
<head>
  <title> TEA </title>
  
</head>
<body>
  
   <%= erb(:'partials/navigation', :layout => false) %>
  
   <!-- our template content will be injected here -->
   <%= yield %>

   <%= erb(:'partials/footer', :layout => false) %>
</body>
</html>