html {
	font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
}

.tea-store-name {
	text-align: center;
	font-size: 60px;
	margin: auto;
	display:inline-block;
}

.delete-button {
	display:inline-block;
}


.delete-button:hover {
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.center {
	width:100%;
	text-align: center;
	margin:auto;
}


#form-mid {
	margin-left:200px;
}

.shop-container {
	text-align:center;
}

#latitude, #longitude {
	display:none;
}

#map-location {
	height:400px;
	width:50%;
	border: black 2px solid;
	display:inline-block;
	vertical-align: top;
}