<form action = '/teaStores' method = "POST">
	<div>
		<label for="name">Name</label>
		<input type="text" name="name" >
	</div>
	<div>
		<label for="address1">Address 1</label>
		<textarea name="address1"></textarea>

	</div>

	<div>
		<label for="city">City</label>
		<input type="text" name="city">
	</div>

	<div>
		<label for="Postcode">Postcode</label>
		<input type="text" name="postcode"">
	</div>

	<div>
		<label for="Rating">Rating</label>
		<input type="text" name="rating"">
	</div>

	<div>
		<input type="submit" value="Submit">

	</div>

</form>