<h1> <%=@teaStore.name %> </h1>

<div>
	<p> <%= @teaStore.location %></p>

</div>
<a href="<%= @teaStore.id %>/edit"> edit </a>
<form action = '<%= @teaStore.id %>' method="post">
	<input type="hidden" name="_method" value="DELETE">

	<input type="submit" value="Delete">

</form>