<form class="pure-form pure-form-aligned" action = '/teaStores/tea/<%=@tea.id%>' method = "POST">
	<input type="hidden" name="_method" value="PUT">
    <fieldset>
        <div class="pure-control-group">
            <label for="tea_name">Name of Tea</label>
            <input id="name" type="text" name="tea_name" value = "<%= @tea.tea_name %>">
        <div class="pure-control-group">
            <label for="type_of_tea">Type of Tea</label>
            <input id="password" type="text" name="type_of_tea" value = "<%= @tea.type_of_tea %>">
        </div>

        <div class="pure-control-group">
            <label for="price">Price</label>
            <input id="price" type="text" name="price" value = "<%= @tea.price %>">
    </fieldset>
    <input  class="pure-controls" type="submit" value="Submit">
</form>