<form action = '/teaStores/tea/<%=@tea.id%>' method = "POST">
	<input type="hidden" name="_method" value="PUT">
	<div>
		<label for="name">Name</label>
		<input type="text" name="tea_name" value = "<%= @tea.tea_name %>">
	</div>
	<div>
		<label for="location">Location</label>
		<input type = "text" name="type_of_tea" value = "<%= @tea.type_of_tea %>" >

	</div>

	<div>
		<label for="price">price £</label>
		<input type = "text" name="price" value = "<%= @tea.price %>" >
	</div>

	<div>
		<input type="submit" value="Submit">

	</div>

</form>