<section class="center">
	<h1> <%=@tea.tea_name %> has been editted!</h1>


	<h3> 
		click<a href="../<%=@tea.tea_store_id%>"> <span class="underline">here</span> </a> to go back to the store 
	</h3>

	<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSE-_zmOYlqUxWbDbvNMmXtxS_Cm3TYQookaWTDLoywYLeK3SgUpQ">

</section>